#test-comp {
    background-color: lightgreen;
    margin-top: 5px;
    font-size: large;
    text-align: center;
    height: 50px;
}
#form {
    text-align: center;
    margin: 10px;
    background-color: lightpink;
    height: 50px;
}
form input {
    margin-left: 20px;
    height: 30px;
}