<p id="test-comp">This is the body component....
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur impedit sunt, ab perspiciatis eligendi in explicabo blanditiis possimus recusandae quo architecto excepturi, voluptatibus quisquam obcaecati quas inventore molestias ipsa incidunt?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas cumque nobis fugit minima minus aliquam, modi debitis iusto sint dolores. Itaque id tenetur aut asperiores ipsam quae, nam iure vitae!
</p>
