<div id="binding-container">
    <h1>{{ title }}</h1>
    <p>This is Made {{ interpolation }}.</p>
    <p>This is Made using Property Binding...
        <a [href]="propBinding">Go to Google</a>
    </p>
  
    <input type="text" (input)="displayEventValue($event)" placeholder="Type something..." />
    <div class="display-value">{{ displayValue }}</div>
  
    <input type="text" [(ngModel)]="searchValue" placeholder="Search..." />
    <div class="search-value">You searched for "{{ searchValue }}"</div>
</div>
  