<div id="binding-container">
    <h1>{{ title }}</h1>
    <p>This is Made {{ interpolation }}.</p>
    <p>This is Made using Property Binding...
        <a [href]="propBinding">Go to Google</a>
    </p>
  
    <div [ngClass]="{changeBackground:displayValue != ''}">
        <input type="text" (input)="displayEventValue($event)" placeholder="Type something..." />
        <div class="display-value" *ngIf="displayValue != '' ">You Entered "{{ displayValue }}"</div> 
    </div>
    
    <div [ngClass]="{changeBackground:searchValue != ''}">
        <input type="text" [(ngModel)]="searchValue" placeholder="Search..."  />
        <div class="search-value" *ngIf="searchValue != '' ">You searched for "{{ searchValue }}"</div>
    </div>
</div>
  