<!-- product-form.component.html -->
<div class="container">
  <form #productForm="ngForm" (ngSubmit)="onProductCreate(productForm.value)">
    <h2>Product Form</h2>
    <label for="pName">Product Name</label>
    <input
      type="text"
      name="pName"
      class="pName"
      placeholder="Enter Name..."
      ngModel
    />
    <br /><br />
    <label for="pDescription">Product Description</label>
    <input
      type="text"
      name="pDescription"
      id="pDescription"
      placeholder="Product Description..."
      ngModel
    />
    <br /><br />
    <label for="pPrice">Product Price</label>
    <input
      type="text"
      name="pPrice"
      id="pPrice"
      placeholder="Produce Price..."
      ngModel
    />
    <br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>
