<div class="registration-form">
  <h2>Registration Form using Reactive Form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <!-- Form Fields -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" formControlName="name" />
      <small
        *ngIf="
          !reactiveForm.get('name')?.valid && reactiveForm.get('name')?.touched
        "
        class="error-message"
        >Invalid Name</small
      >
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" name="age" formControlName="age" />
      <small
        *ngIf="
          !reactiveForm.get('age')?.valid && reactiveForm.get('age')?.touched
        "
        class="error-message"
        >Invalid Age</small
      >
    </div>

    <div class="form-group">
      <label>Gender</label>
      <div class="radio-group">
        <label>
          <input
            type="radio"
            name="gender"
            value="male"
            formControlName="gender"
          />
          Male
        </label>
        <label>
          <input
            type="radio"
            name="gender"
            value="female"
            formControlName="gender"
          />
          Female
        </label>
        <label>
          <input
            type="radio"
            name="gender"
            value="other"
            formControlName="gender"
          />
          Other
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" formControlName="email" />
      <small
        *ngIf="
          !reactiveForm.get('email')?.valid &&
          reactiveForm.get('email')?.touched
        "
        class="error-message"
        >Invalid Email</small
      >
    </div>

    <div class="form-group">
      <label for="position">Position</label>
      <input
        type="text"
        id="position"
        name="position"
        formControlName="position"
      />
      <small
        *ngIf="
          !reactiveForm.get('position')?.valid &&
          reactiveForm.get('position')?.touched
        "
        class="error-message"
        >Invalid Position</small
      >
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label for="area">Area</label>
        <input type="text" id="area" name="area" formControlName="area" />
        <small
          *ngIf="
            !reactiveForm.get('address.area')?.valid &&
            reactiveForm.get('address.area')?.touched
          "
          class="error-message"
          >Invalid Area</small
        >
      </div>

      <div class="form-group">
        <label for="postal">Postal</label>
        <input type="text" id="postal" name="postal" formControlName="postal" />
        <small
          *ngIf="
            !reactiveForm.get('address.postal')?.valid &&
            reactiveForm.get('address.postal')?.touched
          "
          class="error-message"
          >Invalid Postal</small
        >
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city" formControlName="city" />
        <small
          *ngIf="
            !reactiveForm.get('address.city')?.valid &&
            reactiveForm.get('address.city')?.touched
          "
          class="error-message"
          >Invalid City</small
        >
      </div>
    </div>

    <div formArrayName="skills">
      <ng-container
        *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i"
      >
        <div class="form-group">
          <label for="skill">Skills</label>
          <input type="text" name="" id="" formControlName="{{ i }}" />
          <button
            type="button"
            (click)="removeSkill(i)"
            class="remove-skill-btn"
          >
            Remove
          </button>
        </div>
      </ng-container>
      <button type="button" (click)="addSkill()" class="add-skill-btn">
        Add Skill
      </button>
      <button type="button" (click)="clearForm()" class="submit-btn">Clear</button>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="!reactiveForm.valid" class="submit-btn">
        Register
      </button>
    </div>
  </form>

  <div *ngIf="submitted" class="submitted-info">
    <h3 class="tableHeader">Submitted Information</h3>
    <table>
      <tr>
        <th>Name</th>
        <td>{{ submittedData.name }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{ submittedData.age }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{ submittedData.gender }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ submittedData.email }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>Position</th>
        <td>{{ submittedData.position }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>Area</th>
        <td>{{ submittedData.address.area }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>Postal</th>
        <td>{{ submittedData.address.postal }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{ submittedData.address.city }}</td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
      <tr>
        <th>Skills</th>
        <td>
          <ul>
            <li *ngFor="let skill of skills.controls; index as i">
              {{ skill.value }}
            </li>
          </ul>
        </td>
        <td><button (click)="editEmployee()" class="edit-btn">Edit</button></td>
      </tr>
    </table>
  </div>
</div>
