<h1 id="heading">Angular Application</h1>
<!-- <app-nav></app-nav> -->
<!-- <app-test></app-test> -->
<!-- <app-footer></app-footer> -->
<!-- <app-user-profile></app-user-profile> -->
<app-child [message]= "parentMessege" [image] = "parentImage" (messegeEvent)="recievingMessege($event)"></app-child>
<p>{{recievedMessege}}</p>

<br>
<div class="container">
    <input type="text" placeholder="Enter anything here" #input>
    <button (click)="addValue(input)">Submit</button>
</div>
<app-hooks [demoValue]="inputText">
    <h5>This is Projected Content {{inputText}}</h5>
</app-hooks>