<h1 id="heading">Angular Application</h1>
<!-- <app-nav></app-nav> -->
<!-- <app-test></app-test> -->
<!-- <app-footer></app-footer> -->
<!-- <app-user-profile></app-user-profile> -->

<!-- <br> -->
<!-- <div class="container">
    <input type="text" placeholder="Enter anything here" #input>
    <button (click)="addValue(input)">Submit</button>
</div>
<app-hooks [demoValue]="inputText">
</app-hooks> -->

<!-- <app-child [message]= "parentMessege" [image] = "parentImage" (messegeEvent)="recievingMessege($event)"></app-child>
<p class="parentRecieved">{{recievedMessege}}</p> -->
<!-- <app-binding></app-binding> -->
<!-- <app-template></app-template> -->
<!-- <app-directives></app-directives>  -->
<app-custom-directive></app-custom-directive>